<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="fancy/style.css" media="all" />
<title>{{ page.title }}</title>

<script type="text/javascript" src="fancy/jquery.js"></script>
	<script type="text/javascript" src="fancy/fancybox/jquery.fancybox-1.3.0.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="fancy/fancybox/jquery.fancybox-1.3.0.css" media="screen" /> 


	<script type="text/javascript"> 
		$(document).ready(function() {
			$("a.fancybox").fancybox({
				'titleShow'     : true,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
		});
	</script>
    

<!-- Begin DropDown -->
      
<script type="text/javascript">
$(function(){
   $("ul.dropdown li").hover(function(){
        $(this).addClass("hover");
        $('ul:first',this).css('visibility', 'visible');
    
    }, function(){
   $(this).removeClass("hover");
   $('ul:first',this).css('visibility', 'hidden');
});
$("ul.dropdown li ul li:has(ul)").find("a:first").append(" &raquo; ");
});
</script> 

</head>

<body>

<div id="header">

<div id="social">
  <a href="http://www.facebook.com/martin.b.smith"><img src="fancy/images/facebook.png" width="26" height="26" alt="facebook" /></a>
  <a href="http://twitter.com/martinb3"><img src="fancy/images/twitter.png" width="26" height="26" alt="twitter" /></a>
  <a href="http://www.linkedin.com/in/martinbsmith"><img src="fancy/images/linkedin.png" width="26" height="26" alt="linkedin" /></a>
  <a href="http://pgpkeys.mit.edu:11371/pks/lookup?op=vindex&search=0xCEFBEB6D"><img src="fancy/images/gpg.png" width="26" height="26" alt="gpg" /></a>
  <a href="mailto:martin@mbs3.org"><img src="fancy/images/email.png" width="26" height="26" alt="email" /></a>
</div>

</div>



<ul class="dropdown"><!-- menu -->

<li><a href="index.html">Home</a></li>

<li><a href="http://github.com/martinb3/resume">Resume</a>
<!-- <ul class="sub_menu">
    <li><a href="gallery.html">Portraits</a></li>
    <li><a href="gallery.html">Landscapes</a>
        <ul>
        <li><a href="gallery.html">Asia</a></li>
        <li><a href="gallery.html">Africa</a></li>
        </ul>
    </li>
    <li><a href="gallery.html">Weddings &amp; Social</a></li>
    <li><a href="gallery.html">Sports</a></li>
    <li><a href="gallery.html">Fine Art</a></li>
</ul> -->
</li>

<!-- end submenu -->

<li><a href="http://github.com/martinb3">Github</a></li>

</ul><!-- close menu -->


<div id="content"><!-- content -->

{{ content }}
                
</div><!-- end content -->


<div id="sidebar"><!-- sidebar -->

<h3>Recent Posts</h3>

    <div class="navcontainer">
    <ul>
    {% for post in site.posts limit:10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    </div>

<h3>Other links</h3>

    <div class="navcontainer">
    <ul>

    <li><a href="http://www.skillhouse.org">Gainesville Skillhouse</a></li>
    <li><a href="http://open-systems.ufl.edu">Open Systems Group</a></li>
    </ul>
    </div>
    
<!--
<h3>Some Text</h3>

<p>Proin interdum lobortis venenatis. Donec ac felis accumsan arcu ultricies consequat imperdiet non felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<h3>Text in a box</h3>

<p class="sidebar_box">
Donec ac felis accumsan arcu ultricies consequat imperdiet non felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
-->
</div><!-- end sidebar -->


<div id="footer">
Template from <a href="http://www.sixrevisions.com">Six Revisions</a> | Created by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a>
</div>

</body>
</html>
